.plano-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.plano {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.plano.selected {
  position: absolute;
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

.temporary-hide {
  display: block;
}

.plano-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  padding-top: 30px;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f4ff;
  box-shadow: 0 10px 15px 0 rgba(28, 48, 83, 0.3);
}

.plano-list {
  margin-bottom: 2px;
  padding-left: 30px;
  background-image: url('https://raw.githubusercontent.com/g-zato/calculadora-planos/main/images/check.svg');
  background-position: 0% 50%;
  background-size: 20px 14px;
  background-repeat: no-repeat;
  line-height: 28px;
}

.plano-list-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 0px;
  border-top: 1px solid #8294b5;
  line-height: 25px;
  list-style-type: none;
}

.plano-bold {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-weight: 700;
}

.plano-title {
  margin-top: 10px;
}

.adicionais-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.adicional {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
  height: 45px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #1c3053;
  background-color: #8294b5;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}

.adicional.last {
  border-bottom-style: none;
}

.adicional.added {
  width: 450px;
  border-bottom-style: none;
  background-color: #f2f4ff;
}

.adicional.menor {
  height: 90px;
  padding-bottom: 45px;
}

.adicional-quantidade {
  margin-right: 9px;
  margin-bottom: 0px;
  margin-left: 9px;
}

.info {
  width: 16px;
  height: 16px;
  background-image: url('../images/info_icon.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.info:hover {
  -webkit-filter: brightness(43%);
  filter: brightness(43%);
}

.adicional-btn {
  width: 25px;
  height: 25px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.adicional-btn:hover {
  -webkit-filter: brightness(139%);
  filter: brightness(139%);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.adicional-btn:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.adicional-btn.minus {
  background-image: url('https://raw.githubusercontent.com/g-zato/calculadora-planos/main/images/plano_minus_icon.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.adicional-btn.plus {
  background-image: url('https://raw.githubusercontent.com/g-zato/calculadora-planos/main/images/plano_plus_icon.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.adicional-btn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.adicional-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.adicional-txt {
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 9px;
}

.plano-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #f2f4ff;
  box-shadow: 0 -7px 15px 0 rgba(28, 48, 83, 0.3);
}

.plano-preco {
  font-size: 28px;
}

.plano-icon {
  height: 70px;
}

.plano-icon.enterprise {
  height: 72px;
}

.div-block-4 {
  width: 120px;
}

.popular-container {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e7343f;
}

.popular-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #f2f4ff;
}

.popular-icon {
  width: 25px;
  height: 25px;
}

.popular-txt {
  color: #f2f4ff;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.plano-arrow {
  position: absolute;
  right: 0px;
  z-index: 3;
  width: 120px;
  height: 120px;
  margin-top: 300px;
  margin-right: 229px;
  padding-right: 0px;
  border-radius: 50%;
  background-color: #1c3053;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.plano-arrow:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.plano-arrow:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.plano-arrow.left {
  left: 0px;
  right: auto;
  margin-left: 229px;
}

.arrow-img {
  height: 30px;
  margin-top: 45px;
  margin-left: 35px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.arrow-img.left {
  margin-left: 30px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media screen and (min-width: 1920px) {

  .plano-list {
    margin-bottom: 6px;
    font-size: 16px;
  }

  .plano-arrow {
    margin-right: 480px;
  }
}

@media screen and (max-width: 991px) {
  

  .plano {
    margin-right: -90px;
    margin-left: -90px;
  }

  .plano.selected {
    margin-right: 0px;
    margin-left: 0px;
  }

  .plano-wrapper {
    width: 350px;
    padding-right: 5%;
    padding-left: 5%;
  }

  .plano-list {
    font-size: 16px;
  }

  .adicionais-container {
    width: 350px;
  }

  .adicional {
    width: 330px;
  }

  .adicional.added {
    width: 350px;
  }

  .adicional-quantidade {
    margin-right: 6px;
    margin-left: 6px;
  }

  .adicional-txt {
    margin-right: 10px;
    font-size: 12px;
  }

  .plano-bottom {
    width: 350px;
    padding-right: 5%;
    padding-left: 5%;
  }

  .plano-icon {
    width: 120px;
  }

  .popular-container {
    width: 60px;
    margin-right: -50px;
  }

  .popular-txt {
    font-size: 10px;
    line-height: 14px;
  }

  .plano-arrow {
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }

  .plano-arrow.left {
    margin-left: 15px;
  }

  .arrow-img {
    margin-top: 34px;
    margin-left: 26px;
  }

  .arrow-img.left {
    margin-left: 18px;
  }
}

@media screen and (max-width: 767px) {
  

  .plano-wrapper {
    width: 350px;
    padding-top: 20px;
    padding-right: 6%;
    padding-left: 6%;
  }

  .plano-list {
    font-size: 14px;
    line-height: 22px;
  }

  .plano-list-container {
    padding-top: 14px;
    padding-bottom: 10px;
  }

  .plano-title {
    margin-top: 5px;
    margin-bottom: 4px;
  }

  .adicional {
    width: 335px;
  }

  .adicional.added {
    width: 350px;
  }

  .adicional-quantidade {
    margin-right: 5px;
    margin-left: 5px;
  }

  .adicional-txt {
    margin-right: 6px;
    font-size: 12px;
  }

  .plano-bottom {
    width: 350px;
    padding: 20px 5%;
  }

  .popular-container {
    width: 65px;
    height: 70px;
    margin-right: -65px;
  }

  .popular-wrapper {
    margin-bottom: 3px;
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .plano-arrow {
    width: 80px;
    height: 80px;
    margin-top: 245px;
  }

  .plano-arrow.left {
    left: 0px;
    right: auto;
    margin-left: 15px;
  }

  .arrow-img {
    height: 20px;
    margin-top: 30px;
    margin-left: 24px;
  }

  .noticia-data-copy {
    font-size: 10px;
  }

  .opiniao-card {
    width: 50%;
    height: 460px;
    padding-right: 4px;
    padding-left: 4px;
  }

  .opiniao-cliente-nome {
    font-size: 10px;
  }

  .opiniao-cliente-img {
    margin-right: 5px;
  }

  .opiniao-cliente-txt {
    font-size: 8px;
  }

  .opiniao-title {
    height: 60px;
  }
}

@media screen and (max-width: 479px) {

  .plano {
    width: 250px;
    margin-right: -65px;
    margin-left: -65px;
  }

  .plano.selected {
    -webkit-transform: translate(0px, -30px);
    -ms-transform: translate(0px, -30px);
    transform: translate(0px, -30px);
  }

  .temporary-hide {
    display: block;
  }

  .plano-wrapper {
    width: 100%;
    padding-right: 4%;
    padding-left: 4%;
  }

  .plano-list {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
  }

  .plano-bold {
    margin-bottom: 0px;
    padding-bottom: 5px;
  }

  .plano-title {
    font-size: 20px;
  }

  .adicionais-container {
    width: 250px;
  }

  .adicional {
    width: 230px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .adicional.added {
    width: 250px;
  }

  .info {
    display: none;
    width: 12px;
    height: 12px;
  }

  .adicional-txt {
    margin-left: 0px;
    line-height: 16px;
  }

  .plano-bottom {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .plano-preco {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .plano-icon {
    width: 100px;
  }

  .popular-container {
    width: 45px;
    height: 60px;
    margin-right: -50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .popular-wrapper {
    display: none;
  }

  .popular-icon {
    width: 20px;
    height: 20px;
  }

  .popular-txt {
    margin-bottom: 0px;
    font-size: 10px;
    line-height: 13px;
  }

  .plano-arrow {
    z-index: 3;
    display: none;
    margin-right: 1px;
  }
}
